/*  AssideBar start */
.assidebar {
  background-color: $bg;
  width: 275px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
  z-index: 50;
  overflow: auto;
  // height: 100vh;
  &__wrapper {
  }
  &__logo {
    margin: 0 auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    &-img {
      width: 100%;
      display: block;
    }
    &-name {
      position: absolute;
      color: #fff;
      bottom: 35px;
      left: 0px;
      right: 0px;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
    }
    &-position {
      position: absolute;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      bottom: 10px;
      text-align: center;
      left: 0;
      right: 0;
    }
  }
  &__social {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 1px solid #282835;
    &-list {
      &-link {
        &.icon-telegram,
        &.icon-facebook-square,
        &.icon-linkedin-square,
        &.icon-github-square {
          color: #fff;
          font-size: 20px;
          line-height: 30px;
        }
        &:hover,
        &:focus {
          color: $red;
          transform: scale(1.5);
        }
      }
    }
  }
  &__menu {
    padding-left: 25px;
    &-list {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      line-height: 45px;
      text-transform: uppercase;
      border-bottom: 1px solid #282835;
      &:hover,
      &:focus {
        color: $red;
      }
    }
    &-link {
    }
  }
}
/*  AssideBar end */
/* burger Start */
.burger__wrapper {
  position: relative;
}
.burger {
  display: none;
  position: fixed;
  width: 35px;
  height: 30px;
  left: 20px;
  top: 15px;
  z-index: 150;
  cursor: pointer;
  &__line1,
  &__line2,
  &__line3 {
    background-color: $red;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease-in;
  }
  &__line1 {
    top: 0;
  }
  &__line2 {
    top: 10px;
  }
  &__line3 {
    top: 20px;
  }
}

.burger.active {
  width: 35px;
  height: 30px;
  left: 20px;
  top: 15px;
  z-index: 150;
  cursor: pointer;
  .burger__line1,
  .burger__line2,
  .burger__line3 {
    background-color: $red;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease-in;
  }
  .burger__line1 {
    transform: rotate(-135deg);
    top: 14px;
  }
  .burger__line2 {
    transform: scale(0);
  }
  .burger__line3 {
    top: 14px;
    transform: rotate(135deg);
  }
}

/* burger__end */

/* Top bar start */
.topbar {
  display: none;
  background-color: rgba(69, 69, 69, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 20;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__logo {
    margin-right: 15px;
    &-img {
      height: 80px;
    }
  }
  .topbar__content {
    display: flex;
    margin-right: 10px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-name {
      color: #fff;
      display: block;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 10px;
    }
    &-position {
      color: #fff;
      display: block;
      text-align: center;
      font-size: 12px;
    }
  }
  &__menu {
    display: flex;
    color: #fff;
    &-list {
      & + & {
        padding-left: 12px;
      }
      &:hover,
      &:focus {
        color: $red;
      }
      &-link {
        font-weight: 600;
      }
    }
  }
}

/* Top bar end */
/* mobile menu Start */
.mobile{
top:-250%;
position: absolute;
transition: all 0.5s ease;
background-color: $bg;
max-width: 100%;
left: 0;
bottom: 0;
right: 0;
// box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
z-index: 100;
overflow: auto;
height: 100vh;
position: fixed;

.mobile__wrapper {

}
.mobile__logo {
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   background-color: rgba(0, 0, 0, 0.3);
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  // }
  .mobile__logo-img {
    width: 100%;
    display: block;
    height: 40vh;
    object-fit: contain;
    
  }
  .mobile__logo-name {
    position: absolute;
    color: #fff;
    bottom: 35px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .mobile__logo-position {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
  }
}
.mobile__social {
  display: flex;
  // justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #282835;
  .mobile__social-list {
    display: inline-block;
    margin: 0 auto;
    &-link {
      &.icon-telegram,
      &.icon-facebook-square,
      &.icon-linkedin-square,
      &.icon-github-square {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
      }
      &:hover,
      &:focus {
        color: $red;
        transform: scale(1.5);
      }
    }
  }
}
.mobile__menu {
  text-align: center;
  &-list {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #282835;
    &:hover,
    &:focus {
      color: $red;
    }
  }
  &-link {
  }
}
}
.mobile.active {
  background-color: $bg;
  max-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
  z-index: 100;
  overflow: auto;
  height: 100vh;
  .mobile__wrapper {

  }
  .mobile__logo {
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   background-color: rgba(0, 0, 0, 0.3);
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   bottom: 0;
    // }
    .mobile__logo-img {
      width: 100%;
      display: block;
      height: 40vh;
      object-fit: contain;
      
    }
    .mobile__logo-name {
      position: absolute;
      color: #fff;
      bottom: 35px;
      left: 0px;
      right: 0px;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
    }
    .mobile__logo-position {
      position: absolute;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      bottom: 10px;
      text-align: center;
      left: 0;
      right: 0;
    }
  }
  .mobile__social {
    display: flex;
    // justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #282835;
    .mobile__social-list {
      display: inline-block;
      margin: 0 auto;
      &-link {
        &.icon-telegram,
        &.icon-facebook-square,
        &.icon-linkedin-square,
        &.icon-github-square {
          color: #fff;
          font-size: 20px;
          line-height: 30px;
        }
        &:hover,
        &:focus {
          color: $red;
          transform: scale(1.5);
        }
      }
    }
  }
  .mobile__menu {
    text-align: center;
    &-list {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      border-bottom: 1px solid #282835;
      &:hover,
      &:focus {
        color: $red;
      }
    }
    &-link {
    }
  }
}


/* mobile menu End */
/* header Index start */
.header {
  .header__swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    .swiper-pagination {
      width: 43%;
      .swiper-pagination-bullet {
        background-color: $red;
      }
    }

    .swiper-wrapper {
      .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        &::before {
          position: absolute;
          content: "";
          background-color: rgba(0, 0, 0, 0.6);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
        .header__swiper-slide-wrapper {
          padding-left: 320px;
          padding-right: 40px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 40px;

          .header__title {
            color: #fff;
            text-align: center;
            font-size: 36px;
            h1 {
              margin-bottom: 10px;
              text-shadow: -1px 0 $red, 0 1px $red, 1px 0 $red, 0 -1px $red;
            }
          }
          .header__text {
            text-align: center;
            max-width: 650px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            color: #fff;
            font-size: 20px;
            line-height: 28px;

            h4 {
              font-weight: 300;
            }
          }
          .header__btn {
          }
        }
      }
    }
  }
}

/* header Index end */

/* aboutme section start */

.aboutme {
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__content {
  }
  &__promo-text {
    max-width: 550px;
    h5 {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      padding: 0 15px;
    }
  }
  &__infobox {
    background-color: RGBA(53, 53, 65, 0.2);
    max-width: 450px;
    padding: 25px 25px 25px 25px;
    border-radius: 9px;
    box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
    &-item {
      font-size: 18px;
      font-weight: 800;
      line-height: 45px;
      border-bottom: 1px solid rgba(69, 69, 69, 0.4);
      // border-bottom: 1px solid #282835;
    }
    &-text {
      font-size: 18px;
      padding-left: 20px;
      font-weight: 600;
    }
    &-link {
      padding-left: 18px;
      color: $red;
      font-weight: 600;
      &:hover,
      &:active {
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
        transform: scale(1.1);
      }
    }
  }
  &__avatar {
    padding-top: 25px;
    align-items: center;
    display: flex;
    &-img {
      border-radius: 15px;
      max-width: 400px;
      box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
      display: block;
    }
  }
}
.downloadcv {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;

  .download {
    font-weight: 800;
    box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
    &:hover {
      color: $red;
      background-color: #fff;
      font-weight: 800;
      text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
  }
}
/* aboutme section end */

/* last works section start */
.lastwork {
  &__wrapper {
    position: relative;
    .lastwork__button {
      margin-top: 40px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
    .lastwork__btn {
    }
  }
  &__swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    .lastwork__swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      box-sizing: content-box;
      .swiper-slide {
        // margin-right: 3px;
        justify-content: center;
        display: flex;
      }
    }
  }
}

.work-container {
  max-width: 320px;
  display: flex;
  flex: 0 1 0 1 0;
  flex-direction: column;
  justify-content: center;
  background-color: $bg;
  box-shadow: 6px 6px 15px 0px rgba(168, 156, 157, 1);
  border-radius: 7px;
  padding-bottom: 20px;
}
.work__picture {
  max-width: 320px;
}
.work__picture-img {
  max-width: 320px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.work__content {
  padding: 0 15px;
}
.work__type {
  padding-top: 15px;
  color: $red;
  font-size: 24px;
  font-weight: 600;
}
.work__tile {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding-top: 15px;
}
.work__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #fff;
  padding-top: 10px;
  font-weight: 300;
}
.work__link {
  font-size: 14px;
  padding: 10px 15px;
  display: inline-block;
  margin: 15px auto 0 auto;
}
.work__create-icons-list {
  padding-top: 15px;
  color: #fff;
  font-size: 14px;
}
.work-create-icon {
  display: inline-block;
  font-size: 16px;
  padding-left: 7px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 40px;
  color: $red;
  border: none;
  outline: none;
}
.swiper-button-prev.icon-arrow-circle-left {
  top: -5%;
  right: 10%;
  left: auto;
}

.swiper-button-next.icon-arrow-circle-right {
  top: -5%;
  right: 5%;
}

/* last works section end */

/* education section start */
.education {
  &__wrapper{
    overflow: hidden;
  }
}
/* education section start */

/* timeline for education an for work start */
.work{
  &__wrapper{
    overflow: hidden;
  }
}
.timeline {
  &__list {
    padding: 50px 0;
  }
  &__item {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 15px;
    background: #000;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    &:after {
      content: "";
      position: absolute;
      left: 0%;
      bottom: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
    }
    &:nth-child(odd) .timeline__item-inner {
      left: 45px;
    }
    &:nth-child(odd) .timeline__item-inner::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #353541 transparent transparent;
    }
    &:nth-child(even) .timeline__item-inner {
      left: -439px;
    }
    &:nth-child(even) .timeline__item-inner::before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #353541;
    }
  }
  &__item-inner {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #353541;
    &:before {
      content: "";
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid;
    }
    time {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
      color: #fff;
      span {
        color: $red;
      }
    }
  }
}
/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline__item::after {
  transition: background 0.5s ease-in-out;
}

.timeline__item.in-view::after {
  background: #353541;
}

.timeline__item .timeline__item-inner {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline__item:nth-child(odd) .timeline__item-inner {
  transform: translate3d(200px, 0, 0);
}

.timeline__item:nth-child(even) .timeline__item-inner {
  transform: translate3d(-200px, 0, 0);
}

.timeline__item.in-view .timeline__item-inner {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1200px) {
  .timeline__item:nth-child(odd) .timeline__item-inner {
    left: 35px;
  }
}
@media screen and (max-width: 900px) {
  .timeline__item .timeline__item-inner {
    width: 250px;
  }
  .timeline__item:nth-child(even) .timeline__item-inner {
    left: -289px;
    /*250+45-6*/
  }
}
@media (max-width: 700px) {
  .timeline__item:nth-child(even) .timeline__item-inner {
    left: 35px;
  }
  .timeline__item .timeline__item-inner {
    width: calc(100vw - 100px);
  }
  .timeline__item {
    margin-left: 20px;
  }

  .timeline__item:nth-child(even) .timeline__item-inner::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}
// @media (max-width: 670px) {
//   .timeline__item .timeline__item-inner {
//     width: calc(100vw - 135px);
//   }
// }
// @media screen and (max-width: 600px) {
//   .timeline__item {
//     margin-left: 20px;
//   }

//   .timeline__item:nth-child(even) .timeline__item-inner::before {
//     left: -15px;
//     border-width: 8px 16px 8px 0;
//     border-color: transparent #f45b69 transparent transparent;
//   }
// }
/* timeline for education an for work end */

/* slills bar start */
.skills {
  padding-bottom: 50px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: rgba(65, 65, 65, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    // right: 0;
    // bottom: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .skillls__bar-box {
    width: 30%;
  }
  .skillsbar {
    position: relative;
    display: block;
    margin-bottom: 20px;
    // max-width: 320px;
    width: 100%;
    background: rgba(123, 123, 123, 0.964);
    height: 35px;
    border-radius: 5px;
    transition: 0.4s linear;
    transition-property: width, background-color;
  }
  .skillbar__title {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    img {
      position: absolute;
      width: 20px;
      top: -2px;
      right: -5px;
    }

    span {
      display: inline-block;
      background: rgba(0, 0, 0, 0.1);
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .skillbar__bar {
    height: 35px;
    width: 0px;
    background: $red;
    border-radius: 5px;
  }
  .skillbar__bar-target {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    color: #fff;
  }
}

/* slills bar end */

/* section contact start */
.contact{
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 45px;
  }
  &__message-box{
    max-width: 40%;
    width: 100%;
    
  }
  &__message-box-title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;

  }
  &__message-box-text{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
  }
  &__info{
    max-width: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-list{
      font-size: 36px;
      margin-bottom: 25px;
      display: flex;
      align-items: center;

      &:nth-child(2){
        font-size: 32px;
      }
      &:nth-child(3){
        font-size: 34px;
      }
      span{
        font-size: 24px;
        margin-left: 35px;
      }
      a{
        font-size: 24px;
        margin-left: 35px;
        &:hover,
      &:active {
        color: $red;
        transform: scale(1.1);
        font-weight: 600;
      }
      }
    }
    &-social{
      padding-top: 35px;
      font-weight: 700;

      li{
        display: inline-block;
        margin-left: 15px;
        a{
          font-size: 20px;
          &:hover,
      &:active {
        transform: scale(1.4);
        color: $red;
      }
        }
      }

    }
  }
}


.contact__form {
  .form-control {
    margin-bottom: 14px;
    padding-bottom: 5px;
    position: relative;
    .message {
      display: none;
      position: absolute;
      font-size: 11px;
      padding-left: 10px;
      color: red;
      // margin-top: 5px;
      bottom: -10px;
    }
    input,textarea{
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px 25px 10px 15px;
      width: 100%;
      font-weight: 600;
    }
    .check,.replace {
      visibility: hidden;
      position: absolute;
      top: 12px;
      right: 10px;
      width: 15px;
    
    }
    input:focus {
      outline: 0;
      border-color: #777;
    }
    
  }
  button:disabled {
    background-color: rgba(251, 101, 113, 0.55);
    color: #fff;
    display: block;
  }
}

/* section contact end */
